<li><span data-target="{{ page.id }}">
  {{ page.title }}
  <span class="details">
    <img src="{{theme_url}}/images/time.svg"> <span class="length">{{ page.header.content.length }}</span>
    <img src="{{theme_url}}/images/people.svg"> <span class="team">{{ page.header.content.teams }}</span>
  </span>
</span></li>
